@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;1,400;1,800&display=swap');

*{
    font-family: Nunito Sans;
    font-style: normal;
    margin: 0;
}


.container {
    display: flex;
     top: 0px;
     left:0px;
     height: 100vh;
     width: 100vw;
     overflow: hidden;
 }
 
 .boxl {
     flex:55%;
     background-color:  #6379F4;
 } 
 
 .wrapper-boxl {
    width: 60%;
    margin: 75px auto;
}
 
 .boxr {
     flex:45%;
     background-color:  white;
 } 

 .phone-icon {
    display: flex;
    justify-content: center;
}

.overlay{
    position: absolute;
    left: -0.18%;
    right: 39.14%;
    top: 7.18%;
    bottom: -43.74%;
    opacity: 1.6;   
}

.overlay img{
    width: 1253px;
    height: 1080px;
}

.tittletext {
    font-size: 30px;
    color: #FFFFFF;
}

.formemail{
    margin: 15% 0;
    width: 100%;
    height: 37px;
    left: 250px;
    top: 426px;
    }     

input{
    padding-left: 39px;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    border: 0;
    color: #171212cc;    
    border-bottom: 1.4px solid #cccc;
}

.email img{
    position: absolute;
    margin-top: 6px;
    width: 24px;
    height: 20px
} 

.formpw{
    width: 100%;
    height: 37px
}

.textpw{
    font-size: 16px;
    padding-left: 39px;
    line-height: 23px;
    color: #cccc;
    border-bottom: 1.3px solid #cccc;
}

.formforgotpw{
    font-size: 13px;
    color: rgb(98 78 78 / 71%);
    margin-top: 10px;
    }

a{
    text-decoration: none;
    color: #88888F;
}

.padlock img{
    position: absolute;
    width: 17px;
    height: 21px;
}

.login{
        width: 99%;
        padding: 15px;
        background: #cccc;
        border-radius: 12px;
        font-size: 18px;
        text-decoration: none;
        border: 0;
    }

.login:hover{
    cursor:pointer;
    background: #6379F4;
    color:#FFFFFF;
}

.text1l {
    font-size: 34px;
    color: white;
}

.text2l {
    margin-top: 3rem;
    font-size: 16px;
    line-height: 38px;
    color: white;
}

.signuptext{
    margin-top: 40px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    color: #9e9e9e;
}

.text1r{
    font-size: 24px;
    line-height: 33px;
    color: #3A3D42;
    }

.text2r{
    margin-top: 10%;
    font-size: 16px;
    line-height: 30px;
    color: #a79898cc;
}

.transition-ltr-1s{
    animation-name: slidingltr;
    animation-duration: 1.5s;
    animation-iteration-count: 1;

}

@keyframes slidingltr {
    0% {
      transform: translate(-100px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
  }
  
.btn{
    transition: 0.75s;
}
  .btn:hover{
    box-shadow: -3px -1px 33px #85cae0;
}

.wraprer-boxr {
    width: 55%;
    height: 100%;
    position: relative;
    margin: 75px auto
}

.lower-link-1 {
    display: flex;
    justify-content: right;
}

.login-button {
    display: flex;
    justify-content: center;
    margin-top: 67px;
}


.formuname{
    margin: 15% 0 15%;
    width: 100%;
    height: 37px;
    left: 250px;
    top: 426px;
    } 

    .uname img{
        position: absolute;
        width: 20px;
        height: 24px;
    }

    @media screen and (min-width: 481px) {
        .mobile{
           display:none;
        }
        }