@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;1,400;1,800&display=swap');

*{
    font-family: Nunito Sans;
    font-style: normal;
    margin: 0;
}
.container {
    position: absolute;
     top: 0px;
     left:0px;
     height: 1080px;
     width: 1920px;
 }
 
 .boxl {
     position:absolute;
     top:0px;
     left: 0px;
     width: 1200px;
     height: 1080px;
     background-color:  #6379F4;
 } 
 .boxr {
     position:absolute;
     left:1200px;
     top:0px;
     width: 720px;
     height: 1080px;
     background-color:  white;
 } 
 
 .phoner{
     position: absolute;
     width: 278.51px;
     height: 536.47px;
     left: 352.26px;
     top: 128px;
 }
 
 .phonel{
     position: absolute;
     width: 278.51px;
     height: 530.28px;
     left: 115px;
     top: 167.05px;;
 }
 
 .overlay{
    position: absolute;
    left: -0.18%;
    right: 39.14%;
    top: 7.18%;
    bottom: -43.74%;
    opacity: 1.6;  
 }
 
 .overlay img{
    width: 1253px;
    height: 1080px;
 }
 
 .tittletext{
     position: absolute;
     left: 10.42%;
     right: 82.78%;
     top: 5.2%;
     bottom: 90.63%;
     font-size: 30px;
     line-height: 40px;
     color: #FFFFFF;
 }

 .text1l{
    position: absolute;
    left: 10%;
    right: 65%;
    top: 68%;
    width: auto;
    bottom: 23%;
    font-size: 34px;
    line-height: 38px;
    color: white;
    }

.text2l{
    position: absolute;
    left: 10%;
    right: 57%;
    top: 80%;
    width: auto;
    bottom: 23%;
    font-size: 15px;
    line-height: 38px;
    color: white;
}

input{
    padding-left: 39px;
    font-size: 16px;
    line-height: 28px;
    color: #cccc;
    border: 0;
    border-bottom: 1.4px solid #cccc;
}

.formuname{
    position: absolute;
    width: 149px;
    height: 23px;
    left: 40%;
    top: 50%;
    }

.formuname img{
    position: absolute;
    top: -7px;
    left: -52px;
    width: 20px;
    height: 24px;
}

.formemail{
    position: absolute;
    width: 272px;
    height: 37px;
    left: 40%;
    top: 55%;  
}

.email img{
    position: absolute;
    top: 6px;
    left: 6px;
    width: 24px;
    height: 20px;
} 

.formpw{
    position: absolute;
    width: 272px;
    height: 37px;
    left: 40%;
    top: 60%;
}

.padlock img{
    position: absolute;
    top: 4px;
    left: 10px;
    width: 17px;
    height: 21px;
}

.signup{
    position: absolute;
    top: 67%;
    right: 25%;
    left: 40%;
    height: 50px;
    width: 246px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 15px;
    background: #cccc;
    color: #7a7575;
    border-radius: 12px;
    font-size: 18px;
    line-height: 25px;
    }

.logintext{
    position: absolute;
    left: 40%;
    right: 20%;
    top: 74%;
    width: auto;
    bottom: 23%;
    font-size: 14px;
    line-height: 29px;
    color: #9e9e9e;
    }

    .text1r{
        position: absolute;
        left: 31%;
        right: 14%;
        top: 13%;
        bottom: 75%;
        font-size: 24px;
        line-height: 33px;
        color: #3A3D42;
        }
    
    .text2r{
        position: absolute;
        left: 31.51%;
        right: 10.42%;
        top: 24.47%;
        bottom: 63.16%;;
        font-size: 16px;
        line-height: 30px;
        color: #a79898cc;
    }

    a{
        text-decoration: none;
        color: #88888F;
    }